//
//~~ _.  Globally used colors - locally used colors are in their specific files, where they are used
//
//       _._. Default color scheme
//
//           _._._. Theme - Light
//
//           _._._. Shadow styles
//
//       _._. Colors which depend on states - disabled, error, success etc.
//

//
//       _._. Default color scheme
//
//           _._._. Theme - Light
//
$primary-light: #ffece7;
$secondary-light: #fac3c6;
$third-light: #c08285;
$forth-light: #61270e;
$fifth-light: #f1dac5;
$sixth-light: #ffffff;

//
//           _._._. Shadow styles
//
$shadow-sharp-right: 0.2rem 0 0rem 0 rgba(0, 0, 0, 0.3);
$shadow-sharp-right-down: 1.1rem 0.3rem 0rem 0 rgba(0, 0, 0, 0.3);
$shadow-sharp-right-down-close: 0.3rem 0.3rem 0rem 0 rgba(0, 0, 0, 0.3);
//
//       _._. Colors which depend on states - disabled, error, success etc.
//
$succes: #9ed176;
$succes-dark-parts: #5a902f;

$warning: #f8cc7d;
$warning-dark-parts: #907b2f;

$danger: #d17676;
$darker-dark-parts: $forth-light;

$medium: rgb(74, 74, 74);

$light: rgb(168, 168, 168);
