//
// Table of content for this file is written at the bottom
//
@use "../../../styles/sass/abstracts/colors";
@use "../../../styles/sass/abstracts/variables";
@use "../../../styles/sass/base/typography";

//       _._. Item necessary info component mixins
//           _._._. Item container
@mixin item-container {
  // \/ hook1 - make fonts responsive first, because they dont allow to shrink the container
  width: min(
    100%,
    40rem
  ); //hook1 - VERY risky, sinze 20rem may overflow. clamp maybe?
  aspect-ratio: 6/1; // hoo1 trap1 - aspect ratio, combined with widti max20rem-100%, destroyed my modal size for somereason. understand why for the future

  border-radius: 1rem;
}
//           _._._. Image
@mixin item-img {
  //hook2 - easier finding the mixin === just copy paste name and write "mixin" at the start, to find it, ins\tead of the "@include";s
  position: relative;
  // width: 100%;
  aspect-ratio: 1/1;
  z-index: 15;

  box-shadow: colors.$shadow-sharp-right;
}
//           _._._. Title
@mixin item-title {
  z-index: 10;

  box-shadow: colors.$shadow-sharp-right;
  background-color: colors.$secondary-light;
  font-size: typography.$font-size-md;
  font-weight: typography.$font-weight-bold;

  display: grid;
}
//           _._._. Amounts container
@mixin item-amounts-container {
  padding: 0 10% 0 10%;

  z-index: 5;

  border-radius: 0 1rem 1rem 0;

  display: grid;
  grid-template-rows: [r-0] 1.75fr [r-1] 1fr[r-2];
  grid-template-columns: [c-0] 1fr [c-1] 1fr[c-2] 1fr [c-3];
  row-gap: 0.5rem;
  & div {
    display: grid;
  }
}
@mixin bg-color-conditional {
  .bg-color {
    &--success {
      background-color: colors.$succes;
    }
    &--warning {
      background-color: colors.$warning;
    }
    &--danger {
      background-color: colors.$danger;
    }
  }
}
//                  _._._._. Amount-to-buy container
@mixin item-amounts-to-buy-container {
  grid-column: c-0/c-3;
  padding: 0 0 0 2rem;

  display: grid;
  grid-auto-flow: column;
  column-gap: 0.2rem;
}
//                        _._._._._. Number
@mixin item-amounts-to-buy-number {
  transform: translateY(0.45rem);
  font-size: typography.$font-size-xl;
  color: colors.$sixth-light;
  -webkit-text-stroke-width: 0.2rem; // hook2 add webkit to all css
  -webkit-text-stroke-color: colors.$seventh-light;
}
//                        _._._._._. Unit of measurment
@mixin item-amounts-to-buy-unit-of-measurement {
  align-self: end;

  font-size: typography.$font-size-md;
  color: colors.$seventh-light;
}

//                  _._._._. Amounts - current, expected and divider
@mixin amounts-current-expected {
  grid-column: c-0/c-3;

  font-weight: normal;
  align-self: start;

  color: colors.$seventh-light;
  font-size: typography.$font-size-sm;
  font-weight: typography.$font-weight-bold;
}
//       _._. Button specific
//           _._._. Buton with active hover effects
@mixin btn-with-active-hover-effects {
  &:hover {
    filter: saturate(1.5);
  }
  &:active {
    filter: saturate(1);
  }
}
//           _._._. Button with border radius
@mixin btn-with-border-radius($radius-size-variant) {
  @include btn-with-active-hover-effects;
  justify-self: center;
  padding: 1.25rem 1.25rem;

  color: colors.$seventh-light;
  box-shadow: colors.$shadow-sharp-right-down-close;
  @if $radius-size-variant == "md" {
    border-radius: variables.$border-radius-sm;
  }
  @if $radius-size-variant == "lg" {
    border-radius: variables.$border-radius-md;
  }
}
//       _._. Positioning
//           _._._. Grid items - Justify and align center
@mixin center-grid-items {
  justify-items: center;
  align-items: center;
}
//           _._._. Grid self - Justify and align center
@mixin center-grid-self {
  justify-self: center;
  align-self: center;
}
//       _._. Image specific
//           _._._. Next Image - Rounded corners of <div> and <img>
@mixin next-img-border-radius($border-radius) {
  border-radius: $border-radius; // so that the shadow of the <div> is rounded also

  & img {
    border-radius: $border-radius;
  }
}

//
//~~ _.  Globally used mixins - locally used mixins are in their specific files, where they are used
//
//       _._. Positioning
//
//           _._._. Grid items - Justify and align center
//
//           _._._. Grid self - Justify and align center
//
//       _._. Item necessary info component mixins
//
//           _._._. Item container
//
//           _._._. Image
//
//           _._._. Title
//
//           _._._. Amounts container
//
//                  _._._._. Amount-to-buy container
//
//                        _._._._._. Number
//
//                        _._._._._. Unit of measurment
//
//                  _._._._. Amounts - current, expected and divider
//
//       _._. Button specific
//
//           _._._. Button with border radius
//
//           _._._. Buton with active hover effects
//
//       _._. Image specific
//
//           _._._. Next Image - Rounded corners of <div> and <img>
//
