//
//~~ _.  Navbar
//
@use "../../../styles/sass/abstracts/mixins";
@use "../../../styles/sass/abstracts/colors";
@use "../../../styles/sass/abstracts/variables";
@use "../../../styles/sass/base/typography";

.navbar {
  &__container {
    padding: 1rem 5rem 1rem 5rem;
    margin: 0 0 2rem 0;

    background-color: colors.$primary-light;
    border-bottom: 0.75rem solid colors.$third-light;
    border-radius: 3rem;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    column-gap: 3rem;

    & * {
      font-size: typography.$font-size-sm;
      font-weight: typography.$font-weight-normal;
    }
  }
  &__menu-item-container {
    padding: 1rem;
    width: 8rem;
    aspect-ratio: 1/1.2;

    background-color: colors.$secondary-light;
    border: none;
    border-radius: 2rem;
    & :hover {
      filter: saturate(1);
    }

    display: grid;
    grid-template-rows: [r-0] 1.5fr [r-1] 0.5fr [r-2];
    row-gap: 0.8rem;

    & div {
      display: grid;
      @include mixins.center-grid-items;
    }
    &--disabled {
      background-color: colors.$primary-light;
      & svg {
        opacity: 50%;
        filter: saturate(0);
      }
    }
  }
  &__menu-item-svg {
    width: 100%;
    aspect-ratio: 1/1;

    border-radius: 2rem;
    background-color: colors.$primary-light;
  }

  &__menu-item-title {
  }
}
