@use "../../../styles/sass/abstracts/mixins";
@use "../../../styles/sass/abstracts/colors";
@use "../../../styles/sass/abstracts/variables";
@use "../../../styles/sass/base/typography";

.landing-page {
  &__container {
    background-color: colors.$primary-light;
  }
  &__shops-and-weather-container {
    display: grid;

    grid-template-columns: [c-0] 1fr [c-1] 1fr[c-2] 1fr[c-3];
    // @include mixins.center-grid-items;
    justify-items: center;
  }
  &__shops-to-visit-container {
    grid-column: c-1 / c-2;
    padding: 1rem 0.5rem;
    aspect-ratio: 1/1;

    background-color: colors.$secondary-light;
    box-shadow: colors.$shadow-sharp-right-down-close;
    border-radius: 6.9%;

    display: grid;
    grid-template-rows: [r-0] 0.5fr [r-1] 1.5fr [r-2];
    grid-template-columns: [c-0] 0.5fr [c-1] 1fr [c-2] 0.5fr [c-3];
    @include mixins.center-grid-items;
    & svg {
      :hover {
        filter: saturate(2.5);
      }
      :active {
        filter: saturate(1.8);
      }
    }
  }
  &__shops-image {
    grid-row: r-1 / r-2;
    grid-column: c-1 / c-2;
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;

    border-radius: 1.5rem; //hook1 - add border radius sizes to global "_variables.scss". used a lot. 2-3 vriants max, so worth it
    box-shadow: 0.25rem 0.25rem 0rem 0 rgba(0, 0, 0, 0.4); //hook1 - worth adding as global varibl, like other box shadows ?
    & img {
      border-radius: 1.5rem;
    }
  }
  &__shops-title {
    grid-column: c-0 / c-3;
  }
  &__btn-toggle-method-container {
    grid-column: c-0 / c-1;
    padding: 1.5rem 0 1.5rem 0;

    display: grid;
    @include mixins.center-grid-items;

    & button {
      width: 10rem;
      height: 4rem;

      background-color: colors.$third-light;
      color: colors.$primary-light;
      border-radius: 2rem;
    }

    & :hover {
      filter: saturate(1.5);
    }
    & :active {
      filter: saturate(1);
    }
  }
  &__weather-container {
    grid-column: c-2 / c-3;
    height: 14rem;
    display: grid;
    grid-template-rows: [r-0] 1.5fr [r-1] 0.5fr [r-2];

    & div {
      font-size: typography.$font-size-xl;
      color: colors.$third-light;
      display: grid;
    }
  }
  &__list-of-items-container {
    padding: 3.5rem;
    height: 40dvh;

    overflow: hidden;
    overflow-y: scroll; // allows scrolling inside the component

    display: grid;
    grid-auto-rows: 6.5rem;
    @include mixins.center-grid-items;

    @media screen and (min-width: 380px) {
      row-gap: max(2rem);
    }
  }
}
