.carousel-poziomy {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__poziom {
    &--2 {
      background-color: rgb(246, 254, 8);
    }
    &--1 {
      background-color: rgb(184, 35, 35);
    }
    &--0 {
      background-color: rgb(122, 43, 12);
    }
    &--minus1 {
      background-color: rgb(43, 23, 23);
      color: white;
    }
  }

  &__slide {
    opacity: 0;
    transition-duration: 1s ease;
  }

  &__slide-active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
}
