@use "../../../styles/sass/abstracts/mixins";
@use "../../../styles/sass/abstracts/colors";
@use "../../../styles/sass/abstracts/variables";
@use "../../../styles/sass/base/typography";

// .name{}
// &__{}
// &--{}

.item-edit-view {
  &__container {
    @include mixins.item-container;

    display: grid;
    grid-template-rows: [r-0] 1fr [r-1];
    // grid-template-columns: [c-0] 1fr[c-1] 3fr[c-2] 1fr [c-3];
    grid-auto-flow: column;
  }
  &__img {
    @include mixins.item-img;
  }
  &__title {
    @include mixins.item-title;
  }
  &__amounts-container {
    @include mixins.item-amounts-container;
  }
  &__amount-to-buy {
    @include mixins.item-amounts-to-buy;
  }
  &__amount-current {
  }
  &__amount-wanted {
  }
  &__slash-divider {
  }
}
