@use "../../../styles/sass/abstracts/mixins";
@use "../../../styles/sass/abstracts/colors";
@use "../../../styles/sass/abstracts/variables";
@use "../../../styles/sass/base/typography";

.item-edit-view {
  &__container {
    @include mixins.item-container;

    box-shadow: colors.$shadow-sharp-right-down;

    display: grid;
    grid-template-rows: [r-0] 1fr [r-1];
    grid-template-columns: [c-0] 0.68fr [c-1] 2fr[c-2] 1fr [c-3];
    grid-auto-flow: column;
  }
  &__img {
    @include mixins.item-img;
    @include mixins.next-img-border-radius(1rem);
  }
  &__title {
    @include mixins.item-title;
    grid-column: c-1/c-2;
    width: 110%;

    padding: 0 20% 0 20%;
    justify-items: start;
    align-items: center;
    transform: translateX(-1.2rem);

    border-radius: 0 1rem 1rem 0;
  }

  &__amounts-container {
    @include mixins.item-amounts-container;
    @include mixins.center-grid-items;

    width: 110%;

    transform: translateX(-0.5rem);
    white-space: nowrap;
  }
  &__amount-to-buy {
    @include mixins.item-amounts-to-buy-container;

    &__number {
      @include mixins.item-amounts-to-buy-number;
    }
    &__unit-of-measurment {
      @include mixins.item-amounts-to-buy-unit-of-measurement;
    }
  }
  &__amount-current-and-expected {
    @include mixins.amounts-current-expected;
  }
}

@include mixins.bg-color-conditional;
