@use "../../../styles/sass/abstracts/mixins";
@use "../../../styles/sass/abstracts/colors";
@use "../../../styles/sass/abstracts/variables";
@use "../../../styles/sass/base/typography";

// .name{}
// &__{}
// &--{}

.item-edit-view {
  &__container {
    @include mixins.item-container;

    box-shadow: colors.$shadow-sharp-right-down;

    display: grid;
    grid-template-rows: [r-0] 1fr [r-1];
    grid-template-columns: [c-0] 1fr[c-1] 3fr[c-2] 1fr [c-3];
    grid-auto-flow: column;
  }
  &__img {
    @include mixins.item-img;

    border-radius: 1rem;
    & img {
      border-radius: 1rem;
    }
  }
  &__title {
    @include mixins.item-title;
    width: 110%;
    padding: 0 20% 0 20%;
    justify-items: start;
    transform: translateX(-1.2rem);

    border-radius: 0 1rem 1rem 0;
  }
  &__amounts-container {
    @include mixins.item-amounts-container;
    width: 120%;
  }
  &__amount-to-buy {
    @include mixins.item-amounts-to-buy;
  }
  &__amount-current {
  }
  &__amount-wanted {
  }
  &__slash-divider {
  }
}
