//
//~~ _.  Globally used modals - locally used modals are in their specific files, where they are used
//
@use "../../../styles/sass/abstracts/mixins";
@use "../../../styles/sass/abstracts/colors";
@use "../../../styles/sass/abstracts/variables";
@use "../../../styles/sass/base/typography";

.modal {
  &__overlay {
    //necessary parent element for easily positioning the modal container in the middle of the screen
    position: absolute;
    height: 100%;
    width: 100%;

    display: grid;
    // justify-content: center;
    // align-items: center;
  }
  @mixin modal-container() {
    padding: 2rem;
    z-index: 300;

    display: grid;
    // grid-template-rows: ;
    grid-auto-rows: max-content;
    row-gap: 2rem;

    & div,
    button {
      width: max-content;
    }
    & > button {
      width: 5rem;
      aspect-ratio: 1/1;
      justify-self: end;

      border-radius: 1.25rem;
      font-size: typography.$font-size-xl;
    }
  }
  // herehere - 3 warianty modali :
  //    )
  //    )
  //    )
  &-information {
    &__container {
      @include modal-container();
      height: 80vh;
      width: 80vw;

      background-color: rgb(193, 144, 144);
    }
    &__btn-close {
      border-radius: 1rem;
    }
    // &__body {
    // }
  }
  &-warning {
    &__container {
      @include modal-container();
    }
  }
  &-error {
    &__container {
      @include modal-container();
    }
  }
}
