//
//~~ _.  Globally used fonts and font characteristics - locally used fonts and characteristics are in their specific files, where they are used
//
$font-family-primary: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;

$font-size-sm: 1.5rem;
$font-size-md: 1.65rem;
$font-size-lg: 2.5rem;
$font-size-xl: 3.5rem;

$font-weight-normal: 300;
$font-weight-bold: 600;

$line-height-sm: 1.5;
$line-height-md: 2;

$letter-spacing-sm: 0.05em;
$letter-spacing-md: 0.1em;
